packages:
  yum:
    certbot: []
    python3-certbot-nginx: []

commands:
  01_create_cert_dir:
    command: "sudo mkdir -p /etc/letsencrypt/live/vehicular-app-env.eba-tchumtwm.ap-southeast-2.elasticbeanstalk.com"

container_commands:
  01_get_certificate:
    command: "sudo certbot --nginx --non-interactive --agree-tos --email arnavticku@gmail.com -d vehicular-app-env.eba-tchumtwm.ap-southeast-2.elasticbeanstalk.com"
  02_reload_nginx:
    command: "sudo systemctl reload nginx"